header {
    background-color: #c62a00 ;
    height: 120px;
    padding: 10px;
    margin: 0 auto;
    nav {
        text-align: center;
        ul {
            li {
                display: inline-block;
                margin: 5px;
                padding: 5px;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: rgb(255, 255, 255);
                    &:hover {
                        color: rgb(135, 135, 135);
                    }
                }
            }
        }
    }
}

main {
    img {
        width: 100%;
        max-width: 600px;
    }
}