main {
    text-align: center;
    div {
        div {
            img {
                padding-top: 0;
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
        a {
            display: inline-block;
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 10px 25px;
            border-radius: 15px;
            border: 2px solid rgba(0,0,0,0.3);
            cursor: pointer;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
            color: white;
            background-color:#f57301 ;
            text-decoration: none;
        }
        h2 {
            font-family: Vollkorn, serif;
            font-size: 55px;
            color: #c62a00;
            font-size: 40px;
            line-height: 35px;
            text-align: center;
        }
    }

}