.menu {
    div {
        h2 {
            font-family: Vollkorn, serif;
            font-size: 55px;
            color: #c62a00;
            font-size: 40px;
            line-height: 35px;
            text-align: center;
        }
    }
    div {
        padding-top: 0;
        padding-bottom: 24px;
        p {
            font-size: 14px;
        }
    }
    div {
        img {
            text-align: center;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 10px 25px;
            border-radius: 15px;
            border: 2px solid rgba(0,0,0,0.3);
            cursor: pointer;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
            color: white;
            background-color:#f57301 ;
            text-decoration: none;
            display: inline-block;
        }
    }
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        background-color: #fcf3d7;
        color: #000;
        div {
            width: 330px;
            height: 430px;
            border-radius: 8px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            margin: 20px;
            text-align: center;
            transition: all 0.25s;
            &:hover {
                transform: translate(-15px);
                box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
            }
            h3 {
                font-weight: 100;
            }
            span {
                font-weight: 300;
                padding: 0;
                font-size: 14px;
                line-height: 19.6px;
            } 
            div {
                img  {
                    width: 178px;
                    height: 178px;
                    font-size:10px;
                }
            }
        }  
    } 
}