@import "./header";
@import "./main";
@import "./mediaquery";
@import "./page-menu";
@import "./page-contacto";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
    color: #ffff; 
    
}
